[Desktop Entry]
Name=Nails & Crescent
GenericName=Nails & Crescent client
Exec=nac
Icon=nac
Terminal=false
Type=Application
Categories=Game;ActionGame;
