[submodule "extern/zlib"]
    path = extern/zlib
    url = https://github.com/madler/zlib.git
    ignore = dirty
[submodule "extern/curl"]
    path = extern/curl
    url = https://github.com/curl/curl.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/tinyobjloader-c"]
	path = extern/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "extern/--recursive"]
	path = extern/--recursive
	url = https://github.com/WatIsDeze/Nac-RmlUi
[submodule "extern/Nac-RmlUi"]
	path = extern/Nac-RmlUi
	url = https://github.com/WatIsDeze/Nac-RmlUi
