.config*
.basepoly/
.vs/

*.swp
*.exe
*.ilk
*.pdb
*.obj
*.dll
*.so

shader_vkpt

build/


bin/*
bin/basepoly/
bin/basepoly/
bin/basepoly/*
bin/basepoly/*.dll
bin/basepoly/*.so
bin/basepoly/*.pkz
music/

bin/basepoly/maps/*

CMakeFiles
CMakeCache.txt
CMakeSettings.json
cmake_install.cmake

src/CMakeSettings.json

bin/Polyhedron
bin/Polyhedron_Dedicated

out
out/
out/*


bin/basepoly/game*
bin/basepoly/env/*
bin/basepoly/ext_data/*
bin/basepoly/models/*
bin/basepoly/overrides/*
bin/basepoly/pics/*
bin/basepoly/players/*
bin/basepoly/sound/*
bin/basepoly/sprites/*
bin/basepoly/textures/*

!bin/basepoly/
!bin/basepoly/default.cfg
!bin/basepoly/polyconfig.cfg