.config*
.q2pro/
.q2proded/
.baseq2/
rogue/
xatrix/
q2pro
q2proded
game*.so
*.swp
build/
shader_vkpt
./vkpt
./vkptded
*.exe
*.ilk
*.pdb
.vs
baseq2/*
*.dll
*.so
music/
*.dm2
*.bsp
nac/sprites/fx/teleport/telelder/desktop.ini
nac/sprites/fx/desktop.ini
nac/q2config.cfg
*.tga
*.jpg
*.wal
*.obj
*.idb
q2rtx.exe.manifest
nac/textures/fx/desktop.ini
nac/textures/desktop.ini
*.sp2
*.bin
map/q2config.cfg
*.exp
*.lib
*.log
nac/maps/desktop.ini
q2rtx.exe.manifest
*.manifest
