kmnac/CMakeFiles
kmnac/Makefile
kmnac/cmake_install.cmake
nac/maps/*

CMakeCache.txt

q2rtx
q2rtxded

nac/shaders.pkz
nac/game*
nac/env
nac/ext_data
nac/models
nac/overrides
nac/pics
nac/players
nac/sound
nac/sprites
nac/textures

extern/CMakeFiles.txt
extern/curl/*
extern/SDL2/*
extern/stb/*
extern/tinyobjloader-c/*
extern/Vulkan-Headers/*
extern/zlib/*
