[submodule "extern/Nac-RmlUi"]
	path = extern/Nac-RmlUi
	url = https://github.com/WatIsDeze/Nac-RmlUi
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib
[submodule "extern/NaC-SDL"]
	path = extern/NaC-SDL
	url = https://github.com/WatIsDeze/NaC-SDL
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "extern/NaC-curl"]
	path = extern/NaC-curl
	url = https://github.com/WatIsDeze/NaC-curl
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/nac-tinyobjloader-c"]
	path = extern/nac-tinyobjloader-c
	url = https://github.com/WatIsDeze/nac-tinyobjloader-c
