[Desktop Entry]
Name=Polyhedron
GenericName=Polyhedron Client
Exec=Polyhedron
Icon=Polyhedron
Terminal=false
Type=Application
Categories=Game;ActionGame;
